header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  background-color:pink;
  color:white;
  border-radius:50px;
  margin-left:250px;
  margin-right:250px;
  padding-bottom: 50px;
  padding-top:50px;
}
.NoticeBox {
  margin-left:400px;
  margin-right:400px;
  border-radius:50px;
  background-color:pink;
  text-align:center;
  color:white;
  margin-top:50px;
}